.modal-title
{
    margin-bottom: 0;
    line-height: 1.5rem;
}
.card-header
{
    padding: .75rem 1.25rem;
    margin-bottom:0 ;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
}
.md-form label
{
    font-size: 1rem;
    font-weight: 5rem;
}